@import "tailwindcss";

:root {

  --background:#020617;

  --surface:#0f172a;

  --primary:#2563eb;

  --primary-light:#3b82f6;

  --secondary:#06b6d4;

  --text:#f8fafc;

  --muted:#94a3b8;

  --border:rgba(255,255,255,.08);

  --glass:rgba(255,255,255,.05);

  --radius:32px;

}

*{

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--background);

color:var(--text);

font-family:var(--font-geist-sans);

overflow-x:hidden;

}

/* Fond principal */

body::before{

content:"";

position:fixed;

inset:0;

background:

radial-gradient(circle at top,#1d4ed8 0%,transparent 35%),

radial-gradient(circle at bottom right,#0891b2 0%,transparent 25%),

linear-gradient(#020617,#020617);

z-index:-10;

}

/* Grille */

body::after{

content:"";

position:fixed;

inset:0;

background-image:

linear-gradient(rgba(255,255,255,.03) 1px,transparent 1px),

linear-gradient(90deg,rgba(255,255,255,.03) 1px,transparent 1px);

background-size:60px 60px;

mask-image:radial-gradient(circle at center,black,transparent 90%);

z-index:-9;

pointer-events:none;

}

::selection{

background:#2563eb;

color:white;

}

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#020617;

}

::-webkit-scrollbar-thumb{

background:#334155;

border-radius:999px;

}

::-webkit-scrollbar-thumb:hover{

background:#2563eb;

}